.MainSocialContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.MainSocialSpacer {
  width: 3rem;
}

.MainSocialIcon {
  font-size: 2rem !important;
  line-height: 2rem !important;
  margin: 0 0.5rem;
}