.WhoAmILogos {
  padding: 1rem 0 0.5rem;
}

.WhoAmILogo {
  height: 100px;
  width: auto;
  margin-right: 1rem;
}

.FacebookIcon {
  color: #3b5998 !important;
}

.GoogleIcon {
  color: #F44336 !important;
}