.List {
  width: 15rem;
  height: 15rem;
  overflow: auto;
  border-radius: 0.25rem;
  font-size: 12px;
  border-radius: 0.5rem;
  border: 1px solid #CFD8DC;
  margin: 1rem 0;
}

.ListRow {
  padding: 0 0.5rem;
  border-bottom: 1px solid #CFD8DC;
  width: 100%;
  height: 26px;
  line-height: 26px;
  margin: 2px 0;
  transition: 0 all;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
