.HowWorksGroup {
  transform: skewX(0deg);
}

.HowWorksGroupSkewed {
  transition: all 1s ease;
  transform: skewX(15deg);
}

.HowWorksOuterRect {
  rx: 8px;
  ry: 8px;
  stroke-width: 4px;
  fill: transparent;
  stroke: #222;
  transition: transform 1s ease;
}

.HowWorksOuterRectShifted {
  transform: translateY(-30px);
}

.HowWorksHidden {
  opacity: 0;
}

.HowWorksVisible {
  transition: all 1s ease;
  opacity: 1;
}

.HowWorksInnerLineAnimated {
  animation: scrolling 1s linear;
  animation-iteration-count: infinite;
}

@keyframes scrolling {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

.HowWorksInnerRect,
.HowWorksInnerLine {
  fill: transparent;
  stroke-width: 1px;
  stroke-dasharray: 2, 4;
  stroke: #222;
}

.HowWorksRowGroup {
  font-size: 10px;
}

.HowWorksRowRendered,
.HowWorksRowNotRendered,
.HowWorksRowEstimated {
  stroke-width: 2px;
  stroke: #fff;
}

.HowWorksRowEstimated {
  fill: #ddd;
}

.HowWorksRowRendered {
  fill: #a6e22e;
}

.HowWorksRowNotRendered {
  fill: #aaa;
}

.HowWorksViewportLine {
  stroke-width: 1px;
  stroke-dasharray: 2, 4;
  stroke: #222;
}

.HowWorksScrollTrack {
  fill: rgba(0,0,0,.1);
}

.HowWorksScrollThumb {
  fill: rgba(0,0,0,.5);
}
