.Slides__BuildingBlocks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@media (max-width: 400px) {
  .Slides__BuildingBlocks {
    justify-content: center;
  }
}

.Slides__BuildingBlocks__Block {
  margin: 1rem  1rem 1rem 0;
}

.Slides__BuildingBlocks__Block h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.Slides__BuildingBlocks__Frame {
  position: relative;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
  border: 2px dashed #f92672;
  padding: 0.5rem;
  font-size: 12px;
}

.Slides__BuildingBlocks__Collection__Tile,
.Slides__BuildingBlocks__Grid__Tile,
.Slides__BuildingBlocks__List__Tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: 1px dashed #272822;
}

.Slides__BuildingBlocks__Grid__Tile {
  flex: 0 0 2.5rem;
  height: 2.5rem;
}

.Slides__BuildingBlocks__List__Tile {
  width: 100%;
  height: 1.5rem;
}

.Slides__BuildingBlocks__Collection__Tile {
  position: absolute;
}
.Slides__BuildingBlocks__Collection__Tile__1 {
  bottom: 0.5rem;
  right: 0.5rem;
  width: 7rem;
  height: 2rem;
}
.Slides__BuildingBlocks__Collection__Tile__2 {
  top: 0.5rem;
  left: 0.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 3rem;
}
.Slides__BuildingBlocks__Collection__Tile__3 {
  bottom: 40%;
  left: 55%;
  width: 2.5rem;
  height: 2.5rem;
}

.Slides__BuildingBlocks__Table__Row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.Slides__BuildingBlocks__Table__Column {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  flex: 1 1 auto;
}
.Slides__BuildingBlocks__Table__Column:first-of-type {
  margin-left: 0;
}
.Slides__BuildingBlocks__Table__Column:last-of-type {
}

.Slides__BuildingBlocks__Table__Row:first-of-type .Slides__BuildingBlocks__Table__Column {
  background-color: #CFD8DC;
}

.Slides__BuildingBlocks__Table__Row:not(:first-of-type) .Slides__BuildingBlocks__Table__Column {
  border: 1px dashed #272822;
}
