.Slides__BuildingBlocks {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 400px) {
  .Slides__BuildingBlocks {
    justify-content: center;
  }
}

.Slides__BuildingBlocks__Block {
  flex: 1 1 auto;
  max-width: 200px;
}
.Slides__BuildingBlocks__Block:first-of-type {
  margin-right: 1rem;
}

.Slides__BuildingBlocks__Block h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.svgOuterBox {
  fill: transparent;
  stroke: #f92672;  
  stroke-width: 4px;
  stroke-dasharray: 4,4;
}

.svgCollectionBox,
.svgGridBox,
.svgListRow,
.svgTableColumn {
  fill: transparent;
  stroke: #272822;
  stroke-dasharray: 2,2;
}

.svgTableHeader {
  fill: #ddd;
  stroke: transparent;
}
