.Slides__BuildingBlocks {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 400px) {
  .Slides__BuildingBlocks {
    justify-content: center;
  }
}

.Slides__BuildingBlocks__Block {
  flex: 1 1 auto;
}
.Slides__BuildingBlocks__Block:first-of-type {
  margin-right: 1rem;
}

.Slides__BuildingBlocks__Block h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.svgOuterBox {
  fill: transparent;
  stroke: #222;
  stroke-width: 4px;
  rx: 8px;
  ry: 8px;
}

.svgCollectionBoxNotRendered,
.svgGridBoxNotRendered,
.svgTableColumnNotRendered,
.svgListRowNotRendered {
  fill: #aaa;
  stroke: transparent;
}

.svgCollectionBox,
.svgGridBox,
.svgListRow,
.svgTableColumn {
  fill: #a6e22e;
  stroke: transparent;
}

.svgTableHeader {
  fill: transparent;
  stroke: #222;
}
