.ScaledLists {
  display: flex;
  flex-flow: row wrap;
}

.scaledList,
.unscaledList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scaledListItemActive,
.scaledListItem,
.unscaledListItemActive,
.unscaledListItem {
  display: block;
  width: 48px;
  height: 14px;
  margin: 2px 0;
}
.scaledListItem {
  height: 6px;
  width: 48px;
}
.scaledListItem,
.unscaledListItem {
  fill: transparent;
  stroke-width: 1px;
  stroke: #aaa;
  stroke-dasharray: 1,1;
}
.scaledListItemActive,
.unscaledListItemActive {
  stroke-width: 1px;
  fill: #999;
  stroke: transparent;
}
.scaledListItemActiveOdd,
.unscaledListItemActiveOdd {
  fill: #ccc;
  stroke: transparent;
}

.listLine,
.listLineActive {
  stroke-width: 1px;
  stroke-dasharray: 2,4;
}
.listLine {
  stroke: #aaa;
}
.listLineActive {
  stroke: #222;
}

.listLabel {
  font-size: 12px;
  text-transform: uppercase;
  transform: rotate(-90deg);
}
