.ResizableTable {
  font-size: 12px;
}

.ResizableTableHeaderRow,
.ResizableTableRow {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ResizableTableHeaderRow {
  background-color: #e9e9e9;
}

.ResizableTableHeaderColumn,
.ResizableTableColumn {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #ccc;
}

.DragHandleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.DragHandle {
  position: absolute;
  right: 0;
  width: 16px;
  height: 16px;
  z-index: 2;
  color: rgba(0, 0, 0, 0.2);
  cursor: col-resize;
}
.DragHandle:hover {
  color: rgba(0, 0, 0, 0.4);
}

.DragHandleActive,
.DragHandleActive:hover {
  color: rgba(0, 0, 0, 0.6);
}

.DragHandleIcon {
  fill: #f92672;
}
