.scuFalse {
  fill: #aaa;
}

.scuTrue {
  fill: #a6e22e;
}

.scuLine,
.scuDottedLine {
  stroke-width: 1px;
}
.scuDottedLine {
  stroke: #222;
  stroke-dasharray: 2, 4;
  animation: dash 1s linear;
  animation-iteration-count: infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 6;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.scuLine {
  stroke: #aaa;
}
.scuDottedLine {
}