.List {
  width: 15rem;
  height: 15rem;
  overflow: auto;
  border-radius: 0.25rem;
  font-size: 12px;
  border-radius: 0.5rem;
  border: 1px solid #CFD8DC;
  margin: 1rem 0;
}

.ListRow {
  padding: 0 0.5rem;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 2px 0;
  transition: 0 all;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ListRowEven {
  background-color: #f7f7f7;
}

.RowNumber {
  flex: 0 0 2rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 2rem;
  text-align: center;
  color: #fff;
}

.RowStack {
  flex: 1 0 5.25rem;
  margin: 0 0.5rem;
}

.RowName {
  font-size: .8rem;
  line-height: .8rem;
  font-weight: bold;
}

.RowRowNumber {
  font-size: 0.6rem;
  line-height: 0.6rem;
  margin-top: 0.25rem;
}

.RowStar {
  flex: 0 0 auto;
  color: #FFD600;
  font-size: 1.25rem;
}
